workflows/tattoo-chat-complete.json
{
  "name": "Tattoo Chat Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tattoo-chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [432, -192],
      "id": "webhook-tattoo-chat",
      "name": "Webhook - Chat Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "sessionId", 
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "senderName",
              "name": "senderName", 
              "value": "={{ $json.body.senderName || '' }}",
              "type": "string"
            },
            {
              "id": "senderPhone",
              "name": "senderPhone",
              "value": "={{ $json.body.senderPhone || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [632, -192],
      "id": "data-transform",
      "name": "Transform Data"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "转 注专 砖 砖 拽注拽注转 砖转 拽注拽注 住 专 驻-.\n住 砖 拽爪专, 专专, 注  专砖 -  转 注专 转 住 砖专 注 拽转 爪'.\n转  拽注拽注,  专  转 住 砖, 转 转, 转   注转.\n 拽住 专,   转,  专 专.\n砖 专,  砖 -  转 注专 转 注 爪专 专专 注.\n\n注 注 拽:\n注: {{ $json.chatInput }}\n 砖: {{ $json.sessionId }}\n砖 拽: {{ $json.senderName }}\n驻: {{ $json.senderPhone }}\n\n 转:\n 砖 专拽 转 (砖 ,  拽专):\n!  驻砖专 注专? 砖  专注 拽注拽注  砖转专爪 转 注抓 注 拽注拽注转? \n\n 砖 专注 -  拽砖 砖 转 拽 :\n住! 专注 砖注 注 \n拽  -  拽专 ? 转砖  拽砖 转 砖  砖.\n\n专 拽转 砖 - 拽  住专 拽砖:\n 住专 :   注专 砖转? (拽//  住)\n 住专 拽: 驻 砖转 拽 转 ?\n 住专 砖:   注专 砖转 驻 拽 转 ?\n\n 拽  注 注 砖:\n 砖 砖 注专 , 砖 砖拽 转 砖  砖 \n\n 住专 注 住祝 (专 砖专 砖 砖,  拽):\n 砖 转 砖专 - 转砖   , 驻砖专  转专 .\n\n 住  转 (砖: , 专驻, 住):\n砖注 注! 专拽 砖 注转 -  转拽转 注拽专 专 驻-,  拽注拽注 爪专  专驻 驻转 住 砖.\n  砖 注 专住 转专 注  专住转 砖 砖专 砖.\n转砖 转 专    转 \n -  拽专 ? 转砖 转 砖  砖  砖 砖.\n\n 砖  专:\n拽砖 注转 专   , 拽 住 \n  注 注抓 - 砖 转  爪注转 专 驻 专注.\n\n 拽砖 拽注 驻砖 / 注抓:\n  拽注 驻砖转   转砖  转 砖  砖 注专 拽注拽注转 拽砖 注抓 -  转专  转.\n 砖 转  专注 - 转爪专祝!\n\n砖砖 砖 + 专注 +  + 拽 - 住 砖:\n砖! 注专 拽注拽注转 转 驻专 砖 专  拽. 转! \n\n转专转 砖 - 住专  专 专注:\n1. 砖  -  专砖\n2. \n3. 拽\n4. 住 注 转"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [932, -192],
      "id": "ai-agent-tattoo",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"output\": $json.output }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1132, -192],
      "id": "response-node",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default-session' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [828, -48],
      "id": "memory-buffer",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [732, -48],
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a3fcnEvAOinEQLxJ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Chat Input": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}